appnope==0.1.0
backcall==0.1.0
beautifulsoup4==4.8.2
certifi==2022.12.7
chardet==3.0.4
cssselect==1.1.0
cycler==0.10.0
DateTime==4.3
decorator==4.4.2
feedfinder2==0.0.4
feedparser==5.2.1
idna==2.9
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
jieba3k==0.35.1
jupyter-client==6.1.2
jupyter-core==4.6.3
kiwisolver==1.2.0
lxml==4.9.1
matplotlib==3.2.1
newspaper3k==0.2.8
nltk==3.4.5
numpy==1.22.0
pandas==1.0.3
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0
Pygments==2.6.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
pyzmq==19.0.0
requests==2.23.0
requests-file==1.4.3
six==1.14.0
soupsieve==2.0
textblob==0.15.3
tinysegmenter==0.3
tldextract==2.2.2
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.8
wcwidth==0.1.9
wordcloud==1.6.0
zope.interface==5.0.2
